{
    "chmod": "0755",
    "main": "bin/php-doc-check",
    "output": "bin/php-doc-check.phar",
    "directories": ["src"],
    "finder": [
        {
            "name": "*.php",
            "in": "vendor"
         }
    ],
    "stub": true,
	"algorithm": "OPENSSL",
    "key": ".travis/php-doc-check-phar-private.pem"
}